
@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Added By</th>
        <th></th>

    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
<tr>
    <td>@Model.Rows[i][0]</td>
    <td>@Model.Rows[i][1]</td>
    <td>@Model.Rows[i][2]</td>
    <td>@Model.Rows[i][3]</td>
    <td>@Model.Rows[i][4]</td>
    <td>
        <a href="@Url.Action("Edit", "category", new {@id = Model.Rows[i][0] })">Edit</a>
        <a href="@Url.Action("Delete", "category", new {@id = Model.Rows[i][0] })">Delete</a>
    </td>
</tr>
    }
</table>
<a href=" @Url.Action("Create", "Category")">Add Category</a>

